<!--<div class="container">
    <div class="row">
        <h3 class="text-center">{{account.title}}</h3>
    </div>
    <hr class="row" />
    <div class="row">
        User account data goes here.
        <p id="acc_id"></p>
        <p id="accName"></p>
        <p id="accEmail"></p>


        <button ng-click="account.account()" type="button" class="btn btn-primary btn-lg btn-block">Get My Info</button>


    </div>
</div> -->



<!-- This is old, just playing with the css below. -->

  <!--<h1>Fixed Top Navigation Bar</h1>
  <h2>Scroll this page to see t   he effect</h2>
  <h2>The navigation bar will stay at the top of the page while scrolling</h2> -->

<div class="container" style="padding:20px;margin-top:30px;background-color:#FFFFFF;height:1500px;">
  <div class="row">
    <img src="http://www.pd4pic.com/images/trashcan-waste-basket-recycle-bin-throw-away-1.png" alt="logo" style="width:150px;height:150px;" />
    <p id="myAnchor" style="font-size:40px;" class="text-center" \\>{{account.title}}</p>
  </div>
  <hr class="row" />
  <div class="row">
    
    <!--<h2>{{account.name}}</h2> -->
    <!-- <p>{{account._id}}</p> -->
    <p width="100"> Account Email: {{account.email}}</p>
    
    <p>
      <lh>Interests: </lh>
          <li ng-repeat="item in account.interests">{{item}}</li>
    </p>
    <!--
    <p>
      <lh>Bookmarks: </lh>
      <li ng-repeat="podcast in account.bookmarks"><a href="/podcast/{{podcast}}"></a></li>
    </p>-->
    <!-- Add Interest Form -->
    <button class="btn btn-primary btn-lg btn-block" onclick="toggleVisibility('interestForm');">Add Interest</button>
    <button class="btn btn-primary btn-lg btn-block" onclick="toggleVisibility('removalForm');">Remove Interest</button>
    <button class="btn btn-primary btn-lg btn-block" onclick="toggleVisibility('nameForm');">Change Name</button>
        
    <div id="interestForm" style="display: none;">
      <p class="errorAlert" id="interest-add-fail"></p>
      <input ng-model="interest" type="text" class="form-control" placeholder="Interest">
      <button ng-click="account.addInterest(interest)" type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>

    <div id="removalForm" style="display: none;">
      <p class="errorAlert" id="interest-remove-fail"></p>
      <input ng-model="interest" type="text" class="form-control" placeholder="Interest">
      <button ng-click="account.removeInterest(interest)" type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>


    <div id="nameForm" style="display: none;">
      <p class="errorAlert" id="name-change-fail"></p>
      <input ng-model="name" type="text" class="form-control" placeholder="Name">
      <button ng-click="account.changeName(name)" type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>

    <div class="reviews">
      <h3>My Reviews</h3>
      <div ng-repeat="review in account.reviews">
        <h5>{{review.name}}</h5>
        <p>Rating: {{review.rating}}</p>
        <p>{{review.review}}</p>
        <p>By: {{review.reviewer.name}}</p>
        
        <a class="button-red" ng-click="account.deleteReview(review._id)">Delete Review</a>
      </div>
    </div>

    
    

    


    <!-- This button is unneeded now because the account() function is called in the javascript -->
    <!-- <button ng-click="account.account()" type="button" class="btn btn-primary btn-lg btn-block">Get My Info</button> -->
    <!--<a type="button" href="/#/editaccount" class="btn btn-primary btn-lg btn-block" >Register</a>-->
  </div>
</div>