<div class="container">

  <div class="row">
    <p id="podcast-fail"></p>
    
    <div class="podcast-obj">
      <h2>{{podcast.podcastObj.name}}</h2>
      <img src="{{podcast.podcastObj.imageURL}}" alt="">
      <div class="podcast-obj-text-content">
        <h3>Length: {{podcast.podcastObj.length}}</h3>
        <h3>Release Date: {{podcast.podcastObj.release}}</h3>
        <p>{{podcast.podcastObj.description}}</p>
        <a class="button-red" href="{{podcast.podcastObj.link}}">View Podcast Website</a>
      </div>
      
      <div class="button favorite-button" ng-click="podcast.toggleFavoriteStatus()">
        <p>Favorite</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="108" height="95" viewBox="0 0 108 95" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <path id="favorite-button-border" d="M72.748,0 C55.736,0 50,15.099 50,15.099 C50,15.099 44.271,0 27.252,0 C10.245,0 0,16.214 0,29.578 C0,51.974 50,86.108 50,86.108 C50,86.108 100,51.982 100,29.582 C100,16.214 89.76,0 72.748,0 Z"/>
            <mask id="b" width="108" height="94.108" x="-4" y="-4">
              <rect width="108" height="94.108" x="-4" y="-4" fill="white"/>
              <use fill="black" xlink:href="#a"/>
            </mask>
          </defs>
          <g fill="none" fill-rule="evenodd" transform="translate(4 4)">
            <path id="favorite-button-fill" fill="#FF5454" d="M72.748,0 C55.736,0 50,15.099 50,15.099 C50,15.099 44.271,0 27.252,0 C10.245,0 0,16.214 0,29.578 C0,51.974 50,86.108 50,86.108 C50,86.108 100,51.982 100,29.582 C100,16.214 89.76,0 72.748,0 Z"/>
            <use stroke="#D0D0D0" stroke-width="8" mask="url(#b)" xlink:href="#favorite-button-border"/>
          </g>
        </svg>
      </div>
      
      
      
      <!-- Tags -->
      <ul class="podcastTags">
        <li ng-repeat="tag in podcast.podcastObj.tags">{{tag}}</li>
      </ul>
    
     <!-- <img class="favorite-button" onclick="podcast.toggleFavorite();"> -->
      <!-- FAVORITE BUTTON -->    
      <!-- onclick="podcast.toggleFavoriteStatus();" --> 


      
    
    
      <!-- Episodes -->
      <div>
        <h3>Episodes</h3>
        <div ng-repeat="episode in podcast.podcastObj.episodes">
          <p>{{episode.number}}</p>
          <h4>{{episode.name}}</h4>
          <img src="{{episode.imageURL}}" alt="">
          <a class="button-red" href="{{episode.link}}">See Episode</a>
          <p>{{episode.description}}</p>
        </div>
      </div>
    </div>
    
    <a class="reviewBtn button" onclick="toggleVisibility('reviewForm');">Write A Review</a>
    
    <div id="reviewForm">
      
      <p class="errorAlert" id="review-create-fail"></p>
      
      <input ng-model="reviewName" type="text" class="form-control" placeholder="ReviewTitle">
      <input ng-model="reviewRating" type="text" class="form-control" placeholder="Rating">
      <input ng-model="reviewBody" type="text" class="form-control" placeholder="Your review . . .">
      <input ng-model="reviewSpoilers" type="text" class="form-control" placeholder="Spoilers: true or false">
      
      <a ng-click="podcast.addReview(reviewName, reviewRating, reviewBody, reviewSpoilers)" type="button" class="button">Submit</a>
      
    </div>
  
    
    <!-- Reviews -->
    <div class="reviews">
      <h3>Reviews</h3>
      <div ng-repeat="review in podcast.reviews">
        <h5>{{review.name}}</h5>
        <p>Rating: {{review.rating}}</p>
        <p>{{review.review}}</p>
        <p>By: {{review.reviewer.name}}</p>
      </div>
    </div>
    
    
  </div>

</div>