* {
  font-family: 'Roboto', sans-serif;
}

/* INDEX.html Styles */
.index-nav {
  background-color:#010D3E;   
}
.navbar-default .navbar-brand {
  color: #fff;
  background-color:#010D3E; 
}

.navbar .container .nav li a {
  color: #f8f8f8;
}

.navbar .container .nav li a:hover {
  color: #838383;
}


h2 {
  font-size: 40px;
  font-weight: 700;
  
}


.podcastTags {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
}

.podcastTags li {
  display: inline-block;
  color: #fff;
  background-color: #FF4F4F;
  padding: 2px 10px;
  margin: 0 4px;
}

.podcastTags li:first-child {
  margin-left: 0;
}

.podcastSearchObj {
  display: block;
  background-color: #C2D6E2;
  border-bottom: solid 2px #4DA7E3;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  
}

/* SINGULAR PODCAST OBJECT */
.podcast-obj {

}

.podcast-obj img {
  width: 300px;
  display: inline-block;
  margin-right: 40px;
}

.podcast-obj .podcast-obj-text-content {
  display: inline-block;
  
  
}
/* END SINGULAR PODCAST OBJECT */


#reviewForm {
  display: none;
}

.errorAlert {
  margin: 5px 0px;
  font-weight: bold;
  color: #ff2525;
}


/* BUTTONS */
.button, .button-red, .button-yellow {
  font-size: 16px;
  display: inline-block;
  color: #fff;
  background-color: #31A6FF;
  font-weight: 600;
  padding: 1.4rem 2.6rem;
  margin: 1rem 0;
  text-transform: uppercase;
  border-radius: 0.4rem;
  box-shadow: #2683C9 0 0.4rem 0;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;}
  .button:hover, .button-red:hover, .button-yellow:hover {
    color: #fff;
    box-shadow: #2683C9 0 0.6rem 0;
    top: -0.2rem;
    text-decoration: none;}
  .button:active, .button-red:active, .button-yellow:active {
    box-shadow: #2683C9 0 0 0;
    top: 0.4rem; }

.button-red {
  background-color: #FF5454;
  box-shadow: #C94242 0 0.4rem 0; }
  .button-red:hover {
    box-shadow: #C94242 0 0.6rem 0; }
  .button-red:active {
    box-shadow: #C94242 0 0 0; }

.button-yellow {
  background-color: #F2E200;
  box-shadow: #B0A400 0 0.4rem 0; }
  .button-yellow:hover {
    box-shadow: #B0A400 0 0.6rem 0; }
  .button-yellow:active {
    box-shadow: #B0A400 0 0 0; }

.button-center {
  text-align: center;
  margin-top: 6rem; }
  @media (min-width: 40em) {
    .button-center {
      margin-top: 2rem; } }

 

.favorite-button {
  cursor: pointer;
  display: inline-block;
  
  }
  .favorite-button p {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
  }
  .favorite-button svg {
    width: 20px;
    height: auto;
    display: inline-block;
    position: relative;
    top: 5px;
  }
  
  #favorite-button-border {
    stroke: #fff;
  }
  #favorite-button-fill {
    fill: #fff;
  }
  
  .favorite-button:hover #favorite-button-fill {
    /*fill: #9c2828;*/
    fill: #2684CC;
  }
  
  .favorite-button:hover #favorite-button-border {
    /*fill: #9c2828;*/
    fill: #2684CC;
  }
  

path {
  transition: opacity 200ms ease;
  transition: fill 200ms ease;
  transition: stroke 200ms ease;
} 
/*
#favorite-button-fill:hover {
  fill: #9c2828;
}*/
 
/*
#favorite-button-fill {
  opacity: 0;
}

#favorite-button-stroke {
  opacity: 1;
}

#favorite-button:hover #favorite-button-border {
  opacity: 0;
}

#favorite-button:hover #favorite-button-fill {
  opacity: 1;
}
*/


.reviews {
  
  
}


.podcast-obj-fav, .podcast-obj-fav:hover, .podcast-obj-fav:visited {
  text-decoration: none;
  color: #fff;
}

.podcast-obj-fav:hover div {
  position: relative;
  top: -10px;
  background-color: #FF5454;
  box-shadow: 0 3px 8px 2px rgba(0,0,0,0.50);
}

.podcast-obj-fav {
  color: #fff;
  display: block;
  cursor: pointer;
  padding: 10px;
  }
  .podcast-obj-fav div {
    background-color: #0f2442;
    padding: 10px;
    transition-duration: 200ms;
    position: relative;
    top: 0;}

  .podcast-obj-fav img {
    width: 80px;} 
  .podcast-obj-fav ul {
    position: absolute;
    bottom: 0;
    left: 0;
  }
