<div class="container">
    <div class="row">
        <h3 id="myAnchor" style="font-size:40px;" class="text-center">{{suggested.title}}</h3>
    </div>
    <hr class="row" />
    <div class="row">
        
            <lh> Based On Your Interests: </lh>
        <li ng-repeat="item in suggested.interests">{{item}}</li>
        </p>
        <p>

        <!-- Filter using Interests -->
        <div>
            <div ng-repeat="interest in suggested.interests">

                <a class="podcast-obj-fav col-sm-4" ng-repeat="podcast in suggested.podcasts | filter:interest" ui-sref="podcast({ podcastId: '{{podcast._id}}' })">
                    <div>
                        <h3>{{podcast.name}}</h3>
                        <img src="{{podcast.imageURL}}" alt="">
                        <!--<h4>RATING: {{podcast.rating}}</h4>-->

                        <ul class="podcastTags">
                            <li ng-repeat="tag in podcast.tags">{{tag}}</li>
                        </ul>
                    </div>
                </a>

            </div>
        </div>

        <!-- Filter using Tags from Favorites
        <div>
            <div ng-repeat="tags in suggested.bookmarks.tags">
                <a class="podcastSearchObj" ng-repeat="podcast in suggested.podcasts | filter:tags" ui-sref="podcast({ podcastId: '{{podcast._id}}' })">
                    <h2>{{podcast.name}}</h2>
                    <p>{{podcast.length}}</p>
                    <ul class="podcastTags">
                        <li ng-repeat="tag in podcast.tags">{{tag}}</li>
                    </ul>
                </a>

            </div>
        </div> -->

        <!-- This button is unneeded now because the suggested() function is called in the javascript -->
        <!-- <button ng-click="suggested.suggested()" type="button" class="btn btn-primary btn-lg btn-block">Get My Info</button> -->
        <!--<a type="button" href="/#/editsuggested" class="btn btn-primary btn-lg btn-block" >Register</a>-->
    </div>
</div>
