<div class="container" style="padding:20px;margin-top:30px;background-color:#1abc9c;height:1500px;">
  <div class="row">
      <h2 class="text-center">{{login.title}}</h2>
  </div>


  <hr class="row"/>

    <div class="row">
      <p id="login-fail"></p>


      <input ng-model="email" type="text" class="form-control" placeholder="Email" value="Email" autofocus>
      <input ng-model="password" type="password" class="form-control" placeholder="Password" value="Password"
             onkeydown = "if (event.keyCode == 13)
                      document.getElementById('btn').click()">

      <button ng-click="login.login(email, password)" type="button" id="btn" class="btn btn-primary btn-lg btn-block">Login</button>
      <a type="button" href="/#/register" class="btn btn-primary btn-lg btn-block" >Register</a>



    </div>
</div>