<div class="container">
  <div class="row">
    <h2 class="text-center">{{singularPodcast.title}}</h2>
  </div>

  <hr class="row"/>

  <div class="row">
    <p id="podcast-fail"></p>
    
    <input ng-model="podcastId" type="text" class="form-control" placeholder="PodcastId" value="PodcastId">
    <button ng-click="singularPodcast.getPodcast(podcastId)" type="button" id="btn" class="btn btn-primary btn-lg btn-block">Get Podcast</button>
    
    
    <div>
      <h2>{{singularPodcast.name}}</h2>
      <a href="{{singularPodcast.link}}">Link to da podcast</a>
      <p>{{singularPodcast.description}}</p>
    </div>
    
  </div>

</div>




